<div class="container" style="background-image: url(assets/bc.jpg)">

  <div class="flip-book" #bookElement>
    <div class="page page-cover ">
      <div class="page-content">
        <h2>BOOK TITLE</h2>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page 1</h2>
        <div class="page-image" [style.backgroundImage]="'url(assets/cover.jpg)'" [style.backgroundSize]="'cover'">
        </div>
        <div class="page-text">Your content for Page 1 goes here.</div>
        <div class="page-footer">1</div>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page 2</h2>
        <div class="page-image" style="background-image: url(assets/cover2.jpg)"></div>
        <div class="page-text">Your content for Page 2 goes here.</div>
        <div class="page-footer">2</div>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page 3</h2>
        <div class="page-image" style="background-image: url(assets/cover3.jpg)"></div>
        <div class="page-text">Your content for Page 3 goes here.</div>
        <div class="page-footer">3</div>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page 4</h2>
        <div class="page-image" style="background-image: url(assets/cover4.jpg)"></div>
        <div class="page-text">Your content for Page 4 goes here.</div>
        <div class="page-footer">4</div>
      </div>
    </div>
    <div class="page">
      <div class="page-content">
        <h2 class="page-header">Page 5</h2>
        <div class="page-image" style="background-image: url(assets/cover5.jpg)"></div>
        <div class="page-text">Your content for Page 5 goes here.</div>
        <div class="page-footer">5</div>
      </div>
    </div>

    <div class="page page-cover page-cover-bottom">
      <div class="page-content">
        <h2>THE END</h2>
      </div>
    </div>
  </div>

  <div class="page-container">
    <button type="button" class="btn-prev" (click)="flipPrev()">
      Previous page
    </button>
    [<span class="page-current">{{ currentPage }}</span> of
    <span class="page-total">{{ totalPages }}</span>]
    <button type="button" class="btn-next" (click)="flipNext()">Next page</button>
  </div>
</div>
